.navbar{
    padding: 14px 0px !important;
    background-color: white !important;
}

.navbar_brand{
    font-size: 16px !important;
    font-weight: 800 !important;
    color: #292929 !important;
    margin-bottom: 1px !important;
}

.navbar_brand2{
    font-size: 14px;
    margin-bottom: 1px !important;
}

.countdown{
    background-color: #161616;
    color: #E9AC43;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.gh_colors{
    width: 100%;
}

.red{
    background-color: rgb(203, 0, 0);
    height: 3px;
}

.yellow{
    background-color: yellow;
    height: 3px;
}

.green{
    background-color: rgb(0, 103, 0);
    height: 3px;
}

.signin_header {
    background-color: #161616 !important;
    border: none !important;
    color: white;
    border: 1.5px solid #161616 !important;
    font-size: 16px !important;
    border-radius: 7px !important;
    padding: 5px 15px;
  }
  

@media (max-width: 830px){
    .gh_colors{
        display: none;
    }

    .navbar{
        background-color: rgba(255, 255, 255, 0) !important;
    }
}