.no_connection_text{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}

.no_connection_img{
    padding-top: 200px;
    width: 100%;
}

.wifiOff{
    font-size: 100px;
    color: gray;
}