.levels_header {
  background-color: #1a237e;
  padding: 12px;
}

.levels_header_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
}

.return_icon{
  color: white;
  font-size: 24px;
}

.levels_top_text {
  color: white;
  font-size: 13px;
  margin-top: 12px;
  text-align: center;
}

.levels_step_label{
    color:red !important;
}

.levels_intro_video{
    width: 100% !important;
    border-radius: 0px;
    padding: 0px !important;
    background-color: white;
}

.levels_intro_video > .carousel-control-prev {
  left: 10px;
  top: 100px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #1a237e;
}

.levels_intro_video > .carousel-control-next {
  right: 10px;
  top: 100px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #1a237e;
}

.level_components{
  padding: 15px 19px;
}

.carousel-control-prev {
  left: 0;
  height: 170px;
}

.carousel-control-next {
  right: 0;
  height: 170px;
}

@media (min-width: 830px){
 .levels_container{
   width: 50%;
   margin: auto !important;
 }
}