.App {
  overflow-x: hidden;
}

.loader {
  border: 0.1px solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.1px solid blue;
  border-bottom: 0.1px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader_container{
  height: 100vh;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.swal-button--confirm {
  background: #1a237e;
}

.swal-button--danger {
  background: rgb(206, 0, 0);
}


@media (max-width: 830px){
  .loader {
    border: 0.1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.1px solid blue;
    border-bottom: 0.1px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .loader_container{
    height: 100vh;
  }
}
